---
layout: default
title: The Role of Robotics Simulators for Unmanned Aerial Vehicles
---

<section class="section" id="about">
    <div class="section-heading">
        <h1 class="title is-1">The Role of Robotics Simulators for Unmanned Aerial Vehicles</h1>
        <h2 class="subtitle is-2">Half-Day Workshop at ICRA 2023</h2>
    </div>

    <div class="columns is-centered">
      <div class="column is-half is-4-desktop">
        <div class="content">
          <h2 class="subtitle is-6">Objective</h2>
          <p>
          The workshop aims to provide the participants with the knowledge and experience of researchers who have struggled to find, customize, or design a robotic simulator for their own purposes or specific application. The focus is on aerial vehicles, especially multi-rotor aircraft, where we expect simulation solutions to be of continued importance for both research and industrial applications.
          Simulating Unmanned Aerial Vehicles (UAVs) is a specialized task, because of aerodynamic interactions (with the environment or other robots), the fast operating speed compared to other robots (e.g., mobile, legged), and the potentially large number of interacting robots in three dimensions (e.g., swarms of delivery drones).
          </p>
        </div>
      </div>

      <div class="column is-half is-4-desktop">

        <div class="content paper">
          <h2 class="subtitle is-6">News</h2>

          <ul>
            <li>
              <span class="title">Objectives, Topics Covered, Important Dates, Call for Papers now available</span>
              <span class="note">20/01/2023</span>
            </li>
            <li>
              <span class="title">Workshop <a href="https://www.icra2023.org/programme/workshops-tutorials">accepted to ICRA'23</a>, taking place on June 2nd, 2023</span>
              <span class="note">21/12/2022</span>
            </li>
            <li>
              <span class="title">Initial Webpage.</span>
              <span class="note">23/09/2022</span>
            </li>
          </ul>

        </div>

      </div>
    </div>
</section>

<section class="section" id="dates">
  <div class="section-heading">
      <h2 class="title is-2">Important Dates</h2>
  </div>

  <div class="columns is-centered">
    <div class="content paper">
      <ul>
        <li>
          <span class="title">Paper submission deadline: <p style="color:red;">March 20, 2023.</p>
            <a href="https://easychair.org/conferences/?conf=rs4uavs">Submission website (EasyChair)</a></span>
        </li>
        <li>
          Notification to authors: April 10, 2023
        </li>
        <li>
          Camera-ready paper: April 17, 2023
        </li>
        <li>
          <span class="title"<b>Workshop day: June 2, 2023. Last day of ICRA'23. Half-day workshop.</b></span>
        </li>
      </ul>
    </div>
  </div>

</section">

<section class="section" id="topics">
  <div class="section-heading">
      <h2 class="title is-2">Topics Covered</h2>
  </div>

  <div class="columns is-centered">
    <div class="content paper">
      <ul>
        Participants are encouraged to submit their recent work on simulations of aerial robots involving, but not limited to, the following aspects.
        <li><span class="title"> Application-specific challenges for UAV simulation: mapping, below-canopy navigation, smart agriculture, racing, etc.</span></li>
        <li><span class="title">Aerial physical interaction simulation: actuated, under-actuated and passive mechanisms, aerial grasping,  human-robot interaction, etc.</span></li>
        <li><span class="title">Simulation/Modeling of Aerodynamic effects</span></li>
        <li><span class="title">Case study of a researcher or group’s technical work in the context of Robotic Simulators for Aerial Robots and how their work fits into the broader discussion provided by the Workshop topics</span></li>
        <li><span class="title">Control methods and benchmarks (simulation vs reality), parameters and model tuning,, robustness in edge conditions</span></li>
        <li><span class="title">Digital twins, operator instruction, training and operation support, transfer from simulation to reality (Sim-to-Real)</span></li>
        <li><span class="title">Data-driven methods</span></li>
        <li><span class="title">Drone technology, with particular emphasis on the importance of simulation before deployment</span></li>
        <li><span class="title">Hybrid simulation and hardware-in-the-loop simulation techniques</span></li>
        <li><span class="title">Mission and motion planning</span></li>
        <li><span class="title">Manipulation, path planning, navigation in dynamic and cluttered environments</span></li>
        <li><span class="title">Methods supporting fast simulation and real-time simulation solutions</span></li>
        <li><span class="title">Simulation of Multi-agent systems: cooperative manipulation, formation, communication handling, swarms, etc.,</span></li>
        <li><span class="title">Multi-domain simulations</span></li>
        <li><span class="title">Robotic toolboxes</span></li>
        <li><span class="title">Verification and validation</span></li>
        <li><span class="title">Robot behavior adaptation and personalization</span></li>
        <li><span class="title">State estimation, localization, mapping, perception</span></li>
      </ul>
    </div>
  </div>

</section">

<section class="section" id="CFP">
  <div class="section-heading">
      <h2 class="title is-2">Call for Papers</h2>
  </div>

  <div class="columns is-centered">
    <div class="content paper">
      <ul>
        <li>Authors are invited to submit extended abstracts, dataset papers, robot technologies, and interactive demonstration summaries in
          ICRA standard pdf format (max 4 pages). Accepted papers will be posted on the workshop website and presented during the workshop's poster session.</li>
        <li>Every paper will be reviewed by at least two peers. The selection of accepted papers will be done by the organizing committee, based on
          the reviews. Accepted abstracts will be made available on the workshop website, and authors will be invited to present their works during the interactive
          poster session.</li>
      </ul>
    </div>
  </div>
</section">

<section class="section" id="schedule">
  <div class="section-heading">
      <h2 class="title is-2">Schedule</h2>
  </div>

  <div class="columns is-centered">
    <div class="content paper">
      <ul>
        <li>TBD</li>
      </ul>
    </div>
  </div>
</section">

<section class="section" id="team">
  <div class="section-heading">
      <h2 class="title is-2">Team</h2>
  </div>

  <div class="section-heading">
    <h2 class="title is-3">Organizing Committee</h2>
  </div>

  <div class="container">
      <div class="team tile is-ancestor is-flex-wrap">
          {% for member in site.data.team.organizers %}
              {% include teammember.html %}
          {%- endfor %}
      </div>
  </div>

  <div class="section-heading">
    <h2 class="title is-3">Steering Committee</h2>
  </div>

  <div class="container">
      <div class="team tile is-ancestor is-flex-wrap">
          {% for member in site.data.team.steering %}
              {% include teammember.html %}
          {%- endfor %}
      </div>
  </div>
</section>

<section class="section" id="suport">
  <div class="section-heading">
      <h2 class="title is-2">Support</h2>
  </div>

  <div class="columns is-centered">
    <div class="content paper">
      <ul>
        <li>TBD</li>
      </ul>
    </div>
  </div>
</section">
