---
layout: default
title: The Role of Robotics Simulators for Unmanned Aerial Vehicles
---

<section class="section" id="about">
    <div class="section-heading">
        <h1 class="title is-1">The Role of Robotics Simulators for Unmanned Aerial Vehicles</h1>
        <h2 class="subtitle is-2">Half-Day Workshop at ICRA 2023</h2>
    </div>

    <div class="columns is-centered">
      <div class="column is-half is-4-desktop">
        <div class="content">
          <h2 class="subtitle is-6">Objective</h2>
          <p>
          The workshop aims to provide the participants with the knowledge and experience of researchers who have struggled to find, customize, or design a robotic simulator for their own purposes or specific application. The focus is on aerial vehicles, especially multi-rotor aircraft, where we expect simulation solutions to be of continued importance for both research and industrial applications.
          Simulating Unmanned Aerial Vehicles (UAVs) is a specialized task, because of aerodynamic interactions (with the environment or other robots), the fast operating speed compared to other robots (e.g., mobile, legged), and the potentially large number of interacting robots in three dimensions (e.g., swarms of delivery drones).
          </p>
        </div>
      </div>

      <div class="column is-half is-4-desktop">

        <div class="content paper">

          <!--
          <h2 class="subtitle is-6">News</h2>

          <ul>
            <li>
              <span class="title">Objectives, Topics Covered, Important Dates, Call for Papers now available</span>
              <span class="note">20/01/2023</span>
            </li>
            <li>
              <span class="title">Workshop <a href="https://www.icra2023.org/programme/workshops-tutorials">accepted to ICRA'23</a>, taking place on June 2nd, 2023</span>
              <span class="note">21/12/2022</span>
            </li>
            <li>
              <span class="title">Initial Webpage.</span>
              <span class="note">23/09/2022</span>
            </li>
          </ul>
          -->

          <h2 class="subtitle is-6">Important Dates</h2>

          <ul>
            <li>
              <span class="title">Extended abstract submission deadline: <s>March 20, 2023 </s> <p style="color:red;display:inline">April 3, 2023 23:59 (Pacific Time).</p>
              </span>
            </li>
            <li>
              Notification to authors: April 10, 2023 (Pacific Time)
            </li>
            <li>
              Camera-ready paper: April 17, 2023 (Pacific Time)
            </li>
            <li>
              <span class="title"<b>Workshop day: June 2, 2023. Last day of ICRA'23. Half-day workshop.</b></span>
            </li>
          </ul>

        </div>

        <p class="buttons">
          <a href="mailto:rs4uavs@googlegroups.com" class="button is-dark">
            <span class="icon">
              <i class="fas fa-at"></i>
            </span>
            <span>E-Mail</span>
          </a>
        </p>

        <a href="https://easychair.org/conferences/?conf=rs4uavs" class="button is-dark">
          <span class="icon">
            <i class="fas fa-file-export"></i>
          </span>
          <span>Submission</span>
        </a>

        <!--
        <div class="content paper">
          <h2 class="subtitle is-6">Questions</h2>
            If you have any questions please <a href="mailto: rs4uavs@googlegroups.com">contact us</a>.
        </div>
        -->

      </div>
    </div>
</section>

<!--
<section class="section" id="dates">
  <div class="section-heading">
      <h2 class="title is-2">Important Dates</h2>
  </div>

  <div class="columns is-centered">
    <div class="content paper">
      <ul>
        <li>
          <span class="title">Extended abstract submission deadline: <p style="color:red;display:inline">March 20, 2023.</p>
          </span>
        </li>
        <li>
          Notification to authors: April 10, 2023
        </li>
        <li>
          Camera-ready paper: April 17, 2023
        </li>
        <li>
          <span class="title"<b>Workshop day: June 2, 2023. Last day of ICRA'23. Half-day workshop.</b></span>
        </li>
      </ul>
    </div>
  </div>
</section>
-->

<section class="section" id="CFP">
  <div class="section-heading">
      <h2 class="title is-2">Call for Papers</h2>
  </div>

  <div class="columns is-centered">
    <div class="content paper">
      <ul>
        <li>We invite the submission of extended abstracts in line with the workshop's objectives with a maximum of 4 pages in the ICRA format,
          encouraging and prioritizing submissions of new ideas.
          Authors of the accepted papers will be invited to present their work during the poster session.</li>
        <li>Every paper will be reviewed by at least two peers. The selection of accepted papers will be done by the organizing committee, based on
          the reviews.</li>

        <li><i>The deadline for submission has been extended by two weeks to April 3rd. Check out <a href="#about">the important deadlines</a></i></li>
      </ul>
      <center><h3><a href="https://easychair.org/conferences/?conf=rs4uavs">Submission website (EasyChair)</a></h3></center>
    </div>
  </div>

  <div class="section-heading">
    <h2 class="title is-3">Topics Covered</h2>
  </div>

  <div class="columns is-centered">
    <div class="content paper">
      <ul>
        Participants are encouraged to submit their recent work on simulations of aerial robots involving, but not limited to, the following aspects.
        <br></br>
        <li> Application-specific challenges for UAV simulation: mapping, below-canopy navigation, smart agriculture, racing, etc.</li>
        <li>Aerial physical interaction simulation: actuated, under-actuated and passive mechanisms, aerial grasping,  human-robot interaction, etc.</li>
        <li>Simulation/Modeling of Aerodynamic effects</li>
        <li>Case study of a researcher or group’s technical work in the context of Robotic Simulators for Aerial Robots and how their work fits into the broader discussion provided by the Workshop topics</li>
        <li>Control methods and benchmarks (simulation vs reality), parameters and model tuning,, robustness in edge conditions</li>
        <li>Digital twins, operator instruction, training and operation support, transfer from simulation to reality (Sim-to-Real)</li>
        <li>Data-driven methods</li>
        <li>Drone technology, with particular emphasis on the importance of simulation before deployment</li>
        <li>Hybrid simulation and hardware-in-the-loop simulation techniques</li>
        <li>Mission and motion planning</li>
        <li>Manipulation, path planning, navigation in dynamic and cluttered environments</li>
        <li>Methods supporting fast simulation and real-time simulation solutions</li>
        <li>Simulation of Multi-agent systems: cooperative manipulation, formation, communication handling, swarms, etc.,</li>
        <li>Multi-domain simulations</li>
        <li>Robotic toolboxes</li>
        <li>Verification and validation</li>
        <li>Robot behavior adaptation and personalization</li>
        <li>State estimation, localization, mapping, perception</li>
      </ul>
    </div>
  </div>
</section>

<section class="section" id="schedule">
  <div class="section-heading">
      <h2 class="title is-2">Schedule</h2>
  </div>

  <div class="columns is-centered">
    <div class="content paper">
      <ul>
        <li>08:25 Introduction and overview workshop</li>
        <br>
        <b>Session 1: Multi-robot simulation for learning and Interacting</b>
        <li>08:30 Tomáš Báča - Abstractions and Simulations as the Backbone of Reproducible Research</li>
        <li>09:00 Angela Schoellig - TBD</li>
        <br>
        09:30 Coffee break
        <br>
        <b>Session 2: Software-in-the-loop and Realistic vision-based simulation</b>
        <li>09:45 Jaeyoung Lim - Simulating end-to-end workflows for Aerial vehicles with PX4 Software-In-The-Loop simulations (tentative)</li>
        <li>10:15 Davide Scaramuzza - Vision based Agile Flight, from simulation to reality</li>
        <br>
        10:45 Coffee break
        <br>
        <b>Session 3: Poster session & Round table</b>
        <li>11:00 Posters contributed abstracts</li>
        <li>11:30 Breakout sessions</li>
        <li>12:00 Presentation session + Open discussion</li>
        <li>12:20 Final remark</li>

      </ul>
    </div>
  </div>

  <div class="section-heading" id="speakers">
    <h2 class="title is-3">Invited Speakers</h2>
  </div>

  <!--div class="columns is-centered">
    <div class="content paper">
      <ul>
        <li>TBD</li>
      </ul>
    </div>
  </div-->

  <div class="container">
    <div class="team tile is-ancestor is-flex-wrap">
        {% for member in site.data.speakers %}
            {% include teammember.html %}
        {%- endfor %}
    </div>
  </div>

  <div class="section-heading">
    <h2 class="title is-3">Plans to encourage interaction among participants</h2>
  </div>

  <div class="columns is-centered">
    <div class="content paper">
      A set of actions are planned to solicit broad and active participation in the workshop, including:
      <ul>
        <li>Discussion poster of contributed abstracts</li>
        <li>Creation of online pools among both in person and remote participants to identify top discussions themes during round tables and breaks</li>
        <li>Breakout sessions and a round table (i.e., presentation session followed by an open discussion) with the speakers and the participants</li>
      </ul>
    </div>
  </div>

</section>

<!--
<section class="section" id="speakers">
  <div class="section-heading">
    <h2 class="title is-2">Invited Speakers</h2>
</div>
  <div class="columns is-centered">
    <div class="content paper">
      <ul>
        <li>TBD</li>
      </ul>
    </div>
  </div>
  -->
<!--div class="container">
  <div class="team tile is-ancestor is-flex-wrap">
      {% for member in site.data.speakers %}
          {% include teammember.html %}
      {%- endfor %}
  </div>
</div-->
<!--
</section> -->
<!--
<section class="section" id="plan-participants">
  <div class="section-heading">
    <h2 class="title is-2">Plans to encourage interaction among participants</h2>

    <div class="columns is-centered">
      <div class="content paper">
        <ul>
          A set of actions are planned to solicit broad and active participation in the workshop, including:
          <br></br>
          <li>Discussion poster of contributed abstracts</li>
          <li>Creation of online pools among both in person and remote participants to identify top discussions themes during round tables and breaks</li>
          <li>Breakout sessions and a round table (i.e., presentation session followed by an open discussion) with the speakers and the participants</li>
        </ul>
      </div>
    </div>
</section> -->


<section class="section" id="team">
  <div class="section-heading">
      <h2 class="title is-2">Team</h2>
  </div>

  <div class="section-heading">
    <h2 class="title is-3">Organizing Committee</h2>
  </div>

  <div class="container">
      <div class="team tile is-ancestor is-flex-wrap">
          {% for member in site.data.team.organizers %}
              {% include teammember.html %}
          {%- endfor %}
      </div>
  </div>

  <div class="section-heading">
    <h2 class="title is-3">Steering Committee</h2>
  </div>

  <div class="container">
      <div class="team tile is-ancestor is-flex-wrap">
          {% for member in site.data.team.steering %}
              {% include teammember.html %}
          {%- endfor %}
      </div>
  </div>

  <div class="section-heading">
      <h2 class="title is-3">Support</h2>
  </div>

  <div class="container">
    <div class="team tile is-ancestor is-flex-wrap">
        {% for member in site.data.team.support %}
            {% include imgcard.html %}
        {%- endfor %}
    </div>
  </div>

  <!-- <div class="columns is-centered">
    <div class="content paper">
      <center>
      <ul>
        <a target="_blank" href="https://aerial-core.eu/">
          <img src="assets/img/projects_logo/aerial-core_logo2.png" style="max-width:12.5%;float:left;border:10px solid white" alt="Aerial-Core logo">
				</a>
        <a target="_blank" href="https://www.comp4drones.eu/">
          <img src="assets/img/projects_logo/LogoC4D.png" style="max-width:15%;float:left;border:10px solid white" alt="Comp4Drones logo">
				</a>
        <a target="_blank" href="https://aerostream.fer.hr/aerostream">
          <img src="assets/img/projects_logo/aeroSTREAM.png" style="max-width:25%;float:left;border:10px solid white" alt="AeroSTREAM logo">
				</a>
        <a target="_blank" href="https://www.ram.eemcs.utwente.nl/research/projects/flyflic">
          <img src="assets/img/projects_logo/Fliflic_logo.png" style="max-width:20%;float:left;border:10px solid white" alt="FlyFlic logo">
				</a>
        <a target="_blank" href="https://www.dfg.de/en/">
          <img src="assets/img/projects_logo/german_research_foundation.png" style="max-width:25%;float:left;border:10px solid white" alt="German Research Foundation">
				</a>
      </ul>
      </center>
    </div>
  </div> -->

  <div class="section-heading">
      <h2 class="title is-3">Endorsement</h2>
  </div>

  <div class="container">
    <div class="team tile is-ancestor is-flex-wrap">
        {% for member in site.data.team.endorsement %}
            {% include imgcard.html %}
        {%- endfor %}
    </div>
  </div>
<!--

  <div class="columns is-centered">
    <div class="content paper">
      <center>
        <a target="_blank" href="https://ieee-aerialrobotics-uavs.org/">
          <img src="assets/img/projects_logo/technical_committee_aruav.jpeg" style="max-width:125%;float:left;border:10px solid white" alt="ARUAV TC logo">
        </a>
      </center>
    </div>
  </div> -->
</section>
