<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/academicons.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome.solid.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome.brands.min.css">

    <script>
        document.addEventListener('DOMContentLoaded', () => {
  
          // Get "navbar-burger" element
          const $myNavbarBurger = document.querySelector('.navbar-burger');
          const $myNavbar = document.querySelector('.navbar-menu');
  
          // do not expand menu if JS is available
          $myNavbarBurger.classList.remove('is-active');
          $myNavbar.classList.remove('is-active');
  
          $myNavbarBurger.addEventListener('click', () => {
            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $myNavbarBurger.classList.toggle('is-active');
            $myNavbar.classList.toggle('is-active');
          });
  
          // Get all "navbar-item" elements
          const $navbarItems = Array.prototype.slice.call(document.querySelectorAll('.navbar-item'), 0);
          if ($navbarItems.length > 0) {
  
            // Add a click event on each of them
            $navbarItems.forEach( el => {
              el.addEventListener('click', () => {
                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                $myNavbarBurger.classList.remove('is-active');
                $myNavbar.classList.remove('is-active');
              });
            });
          }
  
        });
      </script>

  </head>
  <body>
    {% include navigation.html %}

    <div class="content">
        {{ content }}
    </div>
  </body>
</html>